.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh ;
  background-color: #001F3D;
  

}
h1{
  font-family: sans-serif;
  color: #ED985F;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 400px;
    width: 400px;
}

.row {
  display: flex;
  flex: 1;
  gap: 2px;
}



.cell {
  flex: 1;                
  border: 1px solid red;
}